.App {
  margin-top: 20px;
}

.mainheading {
  font-weight: 700;
  font-size: 16px;
}

.loginContainer {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.tableBase {
  width: 500px;
  margin-top: 20px;
}

.priority {
  width: 45px;
}
